{% extends "padre.html" %}

{% block title %}

Hija 2

{% endblock %}




{% block content %}

    <p>Este es el contenido que estaba bloqueado, aquí se puede introducir lo que se quiera. Estamos en esta fecha {{momento_ahora.day}}/{{momento_ahora.month}}/{{momento_ahora.year}}.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/d1-UX6aR_TM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   

{% endblock %}