<html>

<head>

    <title> 
        {% block title %} {% endblock %}
    </title>


</head>


<body>

    <h1 style="background-color:darkolivegreen; color: white; text-align: center">Utilizando la Herencia de Plantillas para T&iacute;tulo</h1>

    {% include "superior/barra.html" %}

    <h3>Estas zonas no cambian, se mantienen igual en todas las plantillas hijas</h3>

    {% block content %}


    {% endblock %}


    <p style="background-color:darkolivegreen; color: white; text-align: center">Este es el pie de la plantilla, tampoco se modifica y se hereda a las hijas.</p>



</body>


</html>